@charset "UTF-8";
.messages {
  margin-left: 60px;
}

.message {
  margin-top: 60px;
  background-color: 色;
  color: #000033;
}

body {
  background-color: #CCCCFF;
  width: 800px;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}
textarea{
	 border: solid 2px #000033;
}
p {
  word-break: break-all;
  font-familly: 'Impact';
}

.comment {
  margin-left: 85px;
  margin-top: 45px;
  color: #000033;
}

textarea {
  background-color: ;
}

input {
  position: relative;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  border: solid 2px #000033;
}

input:hover {
  background-color: orange;
  color: white;
  border: solid 2px #FF570D;
}

button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
  border: solid 2px #333333;
}

button:hover {
  background-color: orange;
  border: solid 2px #333333;
  color: navy;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-left: solid 1px #ececec;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
  box-shadow: inset 0 0 0 2px #fff;
}

.toTop {
  margin-top: 100px;
  display: inline-block;
  background: #c0c0c0;
  padding: 15px;
  color: black;
  cursor: pointer;
  border-radius: 10px;
  border: solid 2px #333333;
}

table { background: #666; }
tr { background: #fff; }
td { padding: 5px; }
.odd { background: #ddd; }

table {
 margin-left: auto;
 margin-right: auto;
 height: 10rem;
 text-align: center;
}
.open{
  text-align: center;
  background: #75A9FF;
  color: white;
  cursor: pointer;
}
#slideBox{
  padding: 10px;
  border: 1px #ccc solid;
  display: none;
}
